<header class="d-flex justify-content-between align-items-center p-3">
    <div>
        <button class="circle-button back-button">
            <img src="/assets/arrow-left-long-solid.svg" alt="Back">
        </button>
    </div>
    <div class="d-flex gap-2">
        <button class="circle-button filter-button">
            <img src="/assets/filter-solid.svg" alt="Filter">
        </button>
        <button class="circle-button login-button">
            <img src="/assets/user-regular.svg" alt="Log In">
        </button>
    </div>
</header>
