<nav class="bottom-navigation fixed-bottom bg-white d-flex justify-content-around align-items-center p-3">
    <a href="#" class="bottom-nav-link">
        <img src="/assets/house-solid.svg" alt="Home"> <br>
        Home
    </a>
    
    <a href="#" class="bottom-nav-link">
        <img src="/assets/user-group-solid.svg" alt="Social Media"><br>
        Social media
    </a>

    <a href="#" class="bottom-nav-link">
      <img src="/assets/bookmark-solid.svg" alt="Featured"><br>
      Featured
  </a>

    <a href="#" class="bottom-nav-link">
        <img src="/assets/gear-solid.svg" alt="Settings"><br>
        Settings
    </a>
</nav>