<div class="container">
    <div class="row">
        <div class="col-12 border border rounded-4">
            <div class="wrap border d-flex justify-content-center">
                <img src="../assets/dog.jpg" alt="" class="image rounded-5">
            </div>
        </div>
        
        <div class="col-12 px-5">
            <div class="information d-flex border align-items-center">
                <img src="" alt="" class="gender border me-4">
                <div class="name fs-2 fw-bold border">Rhys</div>
                <span class="fs-2 fw-bold me-2 border">, </span>
                <div class="age fs-2 fw-bold border">3 months</div>
                <div class="border">
                    <div class="text-danger border fs-2">Distance</div>
                </div>
            </div>
            <div class="breed border mb-4">
                Breed
            </div>

            <div class="about border">
                <p>
                    This will information about the pet
                </p>
            </div>
        </div>
    </div>
</div>







<!-- 

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
            <div class="row">
                <div class="col-12 border">
                    <div class="wrap border d-flex justify-content-center">
                        <img src="../assets/dog.jpg" alt="" class="image rounded-5">
                    </div>
        
                    <div class="information d-flex border align-items-center px-5">
                        <img src="" alt="" class="gender border me-4">
                        <div class="name fs-2 fw-bold">Rhys</div>
                        <span class="fs-2 fw-bold me-2">, </span>
                        <div class="age fs-2 fw-bold">3 months</div>
                    </div>
                    <div class="breed border px-5">
                        Breed
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="carousel-item">
        
      </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->